doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(name='google-site-verification' content='GhnLfVH_jFWikDcLzsM1s3FqYYlhSgibAloUNuCZkFM')

    title= title

    block stylesheets
      link(rel='stylesheet' href='/assets/stylesheet.css')


  body
    block page
      main(id='main')
        h1= headline
        != content

      footer
        nav.socialMedia
          a.socialMedia_link.-github(
            href='https://github.com/chlorophyllkid',
            title='follow me on github',
            target='_blank',
            rel='noopener'
          )
            include _includes/svg/icon-github.svg

          a.socialMedia_link.-twitter(
            href='https://twitter.com/chlorophyllkid',
            title='follow me on twitter',
            target='_blank',
            rel='noopener'
          )
            include _includes/svg/icon-twitter.svg


    block scripts
      script(src='/assets/script.js')
